<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great Numbers!</title>
</head>
<body>
    <div class="container">
        <form action="/submit_num" method="POST">
            <label for="guessed_num" name="guessed_num">Guess a number between 1 and 100</label>
            <input type="number" min="1" max="100" name="guessed_num">
            <button>Submit</button>
        </form>

        <div class="dynamic-content">
            {% if 'guessed_num' in session: %}
                {% if session['guessed_num'] > session['random_num']: %}
                <p>Too high!</p>
                {% elif session['guessed_num'] < session['random_num']: %}
                <p>Too low!</p>
                {% elif session['guessed_num'] == session['random_num']: %}
                <p>Your guess of {{ session['guessed_num'] }} was correct!</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
</body>
</html>